doctype html
html
  head
    title= appTitle
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style
        include ../public/css/style.css
  body
    block header
    block content
    footer
        div.footerText
            button.footerButton Chat by Michał Czarny
            a(href="https://github.com/michamcz")
              button.footerButton GitHub
    
            
            